<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ansonika">
  <title>
      {% block title %}
      {% endblock %}
  </title>
	
  <!-- Favicons-->
  <link rel="shortcut icon" href="{% static 'backend/img/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'backend/img/apple-touch-icon-57x57-precomposed.png' %}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'backend/img/apple-touch-icon-72x72-precomposed.png' %}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'backend/img/apple-touch-icon-114x114-precomposed.png' %}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'backend/img/apple-touch-icon-144x144-precomposed.png' %}">

  <!-- GOOGLE WEB FONT -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet"> -->
	
  <!-- Bootstrap core CSS-->
  <link href="{% static 'backend/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Main styles -->
  <link href="{% static 'backend/css/admin.css' %}" rel="stylesheet">
  <!-- Icon fonts-->
  <link href="{% static 'backend/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Plugin styles -->
  <link href="{% static 'backend/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!-- Your custom styles -->
  <link href="{% static 'backend/css/custom.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'backend/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'backend/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/mediaelementplayer.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'backend/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/fl-bigmug-line.css' %}">
    
  
    <link rel="stylesheet" href="{% static 'backend/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'backend/css/style.css' %}">
    
	
</head>

<body class="fixed-nav sticky-footer" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <div class="col-8 col-md-8 col-lg-4">
      <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0"><strong>Homeland<span class="text-danger">.</span></strong></a></h1>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'backend:dashboard' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
		    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
          <a class="nav-link" href="messages.html">
            <i class="fa fa-fw fa-envelope-open"></i>
            <span class="nav-link-text">View Properties</span>
          </a>
        </li>
		    
		    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
          <a class="nav-link" href="{% url 'backend:viewPost' %}">
            <span>My listings</span>
          </a>
          
        </li>
		    
		    
		    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
          <a class="nav-link" href="{% url 'backend:newPost' %}">
            <i class="fa fa-fw fa-plus-circle"></i>
            <span class="nav-link-text">Add Property</span>
          </a>
        </li>
		    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
          <a class="nav-link" href="{% url 'backend:viewProfile' %}">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">My Profile</span>
          </a>
        </li>
		  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#Components">
            <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">Change password</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="charts.html">Charts</a>
            </li>
			<li>
              <a href="tables.html">Tables</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          
        </li>
        <li class="nav-item">
          <a href="http://" class="nav-link">Welcome, {{ request.user.get_full_name }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="{% url 'backend:login_view' %}">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
    {% block content%}
    {% endblock %}
 <!-- /.container-wrapper-->
 <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © PANAGEA 2018</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'backend:login_view' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'backend/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'backend/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'backend/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Page level plugin JavaScript-->
  <script src="{% static 'backend/vendor/chart.js/Chart.js' %}"></script>
  <script src="{% static 'backend/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'backend/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'backend/vendor/jquery.selectbox-0.2.js' %}"></script>
  <script src="{% static 'backend/vendor/retina-replace.min.js' %}"></script>
  <script src="{% static 'backend/vendor/jquery.magnific-popup.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'backend/js/admin.js' %}"></script>
  <!-- Custom scripts for this page-->
  <script src="{% static 'backend/js/admin-charts.js' %}"></script>
  
</body>
</html>
