{% extends 'backend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Admin
{% endblock %}

{% block content %}
  <!-- /Navigation -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
	  <!-- Icon Cards-->
      
		<!-- /cards -->
		<h2></h2>
		<div class="box_general padding_bottom">
			{% if det %}
            <div class="site-section site-section-sm">
                <div class="container">
                  <div class="row">
                    <div>
                      
                        <div class="slide-one-item home-slider owl-carousel">
                          <div><img src="{{ det.post_img1 }}" alt="Image1" class="img-fluid"></div>
                          <div><img src="{{ det.post_img2 }}" alt="Image2" class="img-fluid"></div>
                          <div><img src="{{ det.post_img3 }}" alt="Image3" class="img-fluid"></div>
                          <div><img src="{{ det.post_img4 }}" alt="Image4" class="img-fluid"></div>
                          <div><img src="{{ det.post_img5 }}" alt="Image5" class="img-fluid"></div>
                        </div>
                    
                      <div class="bg-white property-body border-bottom border-left border-right">
                        <div class="row mb-5">
                          <div class="col-md-6">
                            <strong class="text-success h1 mb-3">&#8358;{{ det.price }}</strong>
                          </div>
                          <div class="col-md-6">
                            <ul class="property-specs-wrap mb-3 mb-lg-0  float-lg-right">
                            <li>
                              <span class="property-specs">Bathroom</span>
                              <span class="property-specs-number">{{ det.bath }}<sup>+</sup></span>
                              
                            </li>
                            <li>
                              <span class="property-specs">Toilet</span>
                              <span class="property-specs-number">{{ det.toilet }}</span>
                              
                            </li>
                            <li>
                              <span class="property-specs">Room(s)</span>
                              <span class="property-specs-number">{{ det.room }}</span>
                              
                            </li>
                          </ul>
                          </div>
                        </div>
                        <div class="row mb-5">
                          <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                            <span class="d-inline-block text-black mb-0 caption-text">Home Type</span>
                            <strong class="d-block">Condo</strong>
                          </div>
                          <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                            <span class="d-inline-block text-black mb-0 caption-text">Year Built</span>
                            <strong class="d-block">2018</strong>
                          </div>
                          <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                            <span class="d-inline-block text-black mb-0 caption-text">Price/Sqft</span>
                            <strong class="d-block">$520</strong>
                          </div>
                        </div>
                        <h2 class="h4 text-black">More Info</h2>
                       <p>
                         {{ det.pst_description }}
                       </p>
          
                        
                      </div>
                    </div>
                   
                    
                  </div>
                </div>
              </div>
        {% endif %}
            <button class="btn btn-dark"> <a href="{% url 'backend:viewPost' %}" class="text-white">Back</a></button>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
{% endblock %}  