{% extends 'backend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Admin
{% endblock %}

{% block content %}
  <!-- /Navigation -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
	  <!-- Icon Cards-->
      
		<!-- /cards -->
		<h2></h2>
		<div class="box_general padding_bottom">
			<p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta saepe temporibus non quam nostrum? Necessitatibus, iste natus excepturi in architecto corrupti eum repellendus magnam esse atque. Earum sapiente saepe aliquid!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex consectetur voluptatem blanditiis ducimus similique eveniet voluptate veritatis, omnis facere eos adipisci labore voluptates dolores? Culpa earum illum totam excepturi quam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni esse obcaecati quos eius modi molestiae nobis deserunt, sunt neque ullam magnam. Eius dolores architecto sapiente officia ut, doloremque accusantium eligendi.
            </p>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
{% endblock %}  