{% extends 'backend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Admin
{% endblock %}

{% block content %}
  <!-- /Navigation -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
	  <!-- Icon Cards-->
      
		<!-- /cards -->
		<h2></h2>
		<div class="box_general padding_bottom">
            <div class="form-group col-lg-6">
                <form method="post">
                    {{ pass_key.as_p }}
                    
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Change</button>
                </form>
            </div>	
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
{% endblock %}  
