<h3>View Products</h3>
            <table class="table table-bordered" style="margin-left: 300px;">
            <tr>
                <th>Property type</th>
                <th>Property Prize</th>
                <th>Property Category</th>
                <th>Property Description</th>
                <th colspan="3">Action</th>
            </tr>
            {% if view %}
            {% for a in view %}
                <tr>
                    <td>{{ a.pst_title }}</td>
                    <td>{{ a.price }}</td>
                    <td>{{ a.cat_id }}</td>
                    <td>
                        {{ a.pst_description|truncatewords:10 }}
                    </td>
                    <td>
                        <a href="#">
                        <span class="fa fa-pencil"></span>
                        Edit
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'backend:detailView' a.id %}">
                        <span class="fa fa-eye"></span>
                        View
                        </a>
                    </td>
                    <td>
                    <a href="#">
                        <span class="fa fa-trash"></span>
                        Delete
                    </a>
                    </td>
                    
                </tr>
            {% endfor %}
            {% endif %}
            </table>