{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
  {% for c in p.category.all %}
      {{ c.cat_name }}
  {% endfor %}
{% endblock %}

{% block content %}
    <div class="site-section site-section-sm pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="view-options bg-white py-3 px-3 d-md-flex align-items-center">
              <div class="mr-auto">
                <a href="index.html" class="icon-view view-module active"><span class="icon-view_module"></span></a>
                <a href="view-list.html" class="icon-view view-list"><span class="icon-view_list"></span></a>
                
              </div>
              <div class="ml-auto d-flex align-items-center">
                <div>
                  <a href="#" class="view-list px-3 border-right active">All</a>
                  <a href="#" class="view-list px-3 border-right">Rent</a>
                  <a href="#" class="view-list px-3">Sale</a>
                </div>


                <div class="select-wrap">
                  <span class="icon icon-arrow_drop_down"></span>
                  <select class="form-control form-control-sm d-block rounded-0">
                    <option value="">Sort by</option>
                    <option value="">Price Ascending</option>
                    <option value="">Price Descending</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>

    <div class="site-section site-section-sm bg-light">
      <div class="container">
      
        <div class="row mb-5">
          {% if person_page_obj %}
          {% for p in person_page_obj %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="property-entry h-100">
                <a href="{% url 'frontend:post_detail' p.id %}" class="property-thumbnail">
                  <div class="offer-type-wrap">
                    {% for c in p.category.all %}
                          <span class="offer-type bg-success">{{ c.cat_name }}</span>
                    {% endfor %}
                  </div>
                  <img src="{{ p.post_img1 }}" alt="Image" class="img-fluid">
                </a>
                <div class="p-4 property-body">
                  <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
                  <h2 class="property-title"><a href="{% url 'frontend:post_detail' p.id %}">{{ p.pst_title }}</a></h2>
                  <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span>{{ p.pst_description }}</span>
                  <strong class="property-price text-primary mb-3 d-block text-success">{{p.price}}</strong>
                  <ul class="property-specs-wrap mb-3 mb-lg-0">
                    <li>
                      <span class="property-specs">Rooms</span>
                      <span class="property-specs-number">{{ p.room }}</span>
                      
                    </li>
                    <li>
                      <span class="property-specs">Bathrooms</span>
                      <span class="property-specs-number">{{ p.bath }}</span>
                      
                    </li>
                    <li>
                      <span class="property-specs">Toilet</span>
                      <span class="property-specs-number">{{ p.toilet }}</span>
                      
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          {% endfor %}
          {% endif %}
   
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <!-- <div class="site-pagination">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <span>...</span>
              <a href="#">10</a>
            </div> -->
            {% if person_page_obj.has_previous %}
								<li>
									<a class="page-link" href="?page=1">&laquo; First</a>
									<a class="page-link" href="?page={{ person_page_obj.previous_page_number }}"> Previous</a>
								</li>
							{% endif %}

							<span class="current">
								Page {{ person_page_obj.number}} of {{person_page_obj.paginator.num_pages}}.
							</span>
							
							{% if person_page_obj.has_next %}
								<li >
									<a class="page-link" href="?page={{ person_page_obj.next_page_number }}">Next</a>
									<a class="page-link" href="?page={{ person_page_obj.paginator.num_pages }}">&laquo; Last</a>
								</li>
							{% endif %}
          </div>  
        </div>
        
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <div class="site-section-title">
              <h2>Why Choose Us?</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maiores quisquam saepe architecto error corporis aliquam. Cum ipsam a consectetur aut sunt sint animi, pariatur corporis, eaque, deleniti cupiditate officia.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a href="#" class="service text-center">
              <span class="icon flaticon-house"></span>
              <h2 class="service-heading">Research Subburbs</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
              <p><span class="read-more">Read More</span></p>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="service text-center">
              <span class="icon flaticon-sold"></span>
              <h2 class="service-heading">Sold Houses</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
              <p><span class="read-more">Read More</span></p>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="service text-center">
              <span class="icon flaticon-camera"></span>
              <h2 class="service-heading">Security Priority</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure qui natus perspiciatis ex odio molestia.</p>
              <p><span class="read-more">Read More</span></p>
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}