{% extends 'backend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Admin
{% endblock %}

{% block content %}
  <!-- /Navigation -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
	  <!-- Icon Cards-->
      
		<!-- /cards -->
		<h2></h2>
		<div class="box_general padding_bottom">
			
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
     <h3>Password reset</h3>
            <p>
                Forgotten your passowrd? Enter your email address below, and we'll email instructions for setting a new one.
            </p>
            <form action="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" name="Send email">
            </form>
{% endblock %}  